h1 {

    background-color: #d2e3f0;
color: #bd8c4c;
font-size: 60px;
margin-top: 50px;


text-align: center;

}

p {

    font-size: 18px;
    text-align: left;
margin-top: 20px;
margin-left: 50px;
margin-right: 50px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#293236;

}

img{

    width: 690px;
    margin-left: 50px;
    
}

h3{

    font-size: 40px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;

    color:#bf8933;  

}

ul{

    margin-left: 50px;
    font-size: 20px;
    color: #bf8933;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

a{
    color:#bf8933
}

